.about{
   color:white;
   object-fit: cover;
   margin: 40px;
   text-align: center;

   ul{
    text-align:center;
    list-style:none;
   }
   img{
    height: 100%;
    width: 120px;
    
   }
   .foto-class{
   justify-content: center;
   display: flex;
   margin: 60px;
   gap: 10px;
   }
}