.about{
   color:#322C2B;
   object-fit: cover;
   margin: 80px;
   ul{
    text-align:center;
    list-style:none;
   }
   img{
    height: 100%;
    width: 80px;
   }
   .foto-class{
   justify-content: center;
   display: flex;
  
   gap: 10px;
   }
}