
.header-container {
    // background-color: #322c2b;
    
    // background: rgb(98,98,98);
    // background: radial-gradient(circle, rgba(98,98,98,1) 0%, rgba(0,0,0,1) 82%);

    background: url("../img/header-background4.jpg") ;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;

    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
  
    .brand {
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      cursor: default;
      
      img {
        width: 70px;
        height: fit-content;
      }
      h3{
        color: white;
        
      }
      
    }
  
    .liste {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 20px;
  
      li {
        .active {
          color: #af8260;
        }
  
        transition: 0.2s;
        cursor: pointer;
  
        &:hover {
          color: white;
          transform: scale(1.2);
        }
  
        a {
          text-decoration: none;
          color: white;
        }
      }
  
      .user-info {
        display: flex;
        align-items: center;
        gap: 10px;
  
        .user-avatar {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
  
        .user-details {
          display: flex;
          flex-direction: column;
  
          .user-email {
            font-size: 12px;
            font-weight: bold;
          }
  
          .user-role {
            font-size: 10px;
            color: #af8260;
          }
        }
      }
    }
  }
  