.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: #04009A;
    color: #F7F7F7;
  }
  
  .navbar-logo img {
    height: 40px;
    margin-right: 10px;
  }
  
  .navbar-title {
    font-size: 20px;
    font-weight: bold;
  }
  